<nav class="ui menu">
  <header class="ui header item"> Weathertop </header>
  <div class="ui center aligned header">
    WeatherTop Stations
  </div>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="editprofile" class="item" href="/editprofile"> Edit Profile </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
