<div class="ui segment" id="chart"></div>
<script>
  const data = {
    labels: [
      {{#each readings}}
        "{{this.date}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each readings}}
            {{this.temperature}},
          {{/each}}
        ]
      }
    ]
  }

  const chart = new frappe.Chart("#chart", {
    title: "Temperature Trend",
    data: data,
    type: 'line',
    height: 250,
  });
</script>