{{> menu id="about"}}

  <section class="ui center aligned middle aligned segment" xmlns="http://www.w3.org/1999/html">
    <p>
    <h5>
      WeatherTop Inc. produce a modular weather station called the WeatherTop 1000. This lowcost device takes a set
      of meteorological readings and displays these on a simple LCD display.
      WeatherTop 1000 oofers the best value for money compared to any other personal weather station on the market
      right now. As a result, it is our number one recommendation.
    </h5>
    </p>
    <p>
    <h5>
      If you’re looking for an affordable, accurate, and reliable weather station, then this best-selling model from
      WeatherTop Inc. is your answer.
    </h5>
    </p>
  </section>