{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header" style="color: darkslateblue;">
    Welcome to WeatherTop
  </h1>
  <p>
  <h5>If you’re looking for an affordable, accurate, and reliable weather station, then this WeatherTop best-selling
    model is your answer.</h5>
  </p>


  <p>
  <h4 style="color: orangered;">Please Signup or Login using the menu above.</h4>
  </p>
  <br>

</section>

